<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置实现类对接口类的实例化-->
    <!--配置实现类Hello,名称为hello-->
    <bean name="hello" class="serv.Hello">
        <!--依赖注入，Hello依赖的属性str,-->
        <property name="str" value="寄几"/>
    </bean>

</beans>