<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taotao.july.mapper.ContentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.taotao.july.pojo.Content">
		<id column="id" property="id" />
		<result column="price" property="price" />
		<result column="title" property="title" />
		<result column="icon" property="icon" />
		<result column="abstracts" property="abstracts" />
		<result column="text" property="text" />
		<result column="type" property="type" />
	</resultMap>

</mapper>
