<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taotao.july.mapper.UsersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.taotao.july.pojo.Users">
		<id column="users_username" property="usersUsername" />
		<result column="users_password" property="usersPassword" />
		<result column="users_name" property="usersName" />
		<result column="users_sex" property="usersSex" />
		<result column="users_phone" property="usersPhone" />
		<result column="users_addr" property="usersAddr" />
	</resultMap>

</mapper>
