<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入properties-->
    <!--写法一：-->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="db.properties"></property>
    </bean>

    <!--写法二：-->
    <!--<context:property-placeholder location="db.properties"></context:property-placeholder>-->

    <!--配置数据库连接池-->
    <!--第一种：spring内置连接池-->
    <bean id="mydatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--第二种：c3p0配置连接池-->


    <!--将连接池注入到jdbctemplate对象-->
    <bean id="jdbctemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="mydatasource"/>
    </bean>
    <!--配置UserDao-->
    <bean id="userDao" class="jdbc.UserDao">
        <!--注入jdbcTemplate-->
        <property name="jdbcTemplate" ref="jdbctemplate"></property>
    </bean>
</beans>