<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
            <property name="dialectType" value="mysql" />
            <property name="optimizeType" value="aliDruid" />
        </plugin>
    </plugins>
    <typeAliases>
        <!-- 【批量别名定义】
            指定包路径，自动扫描包下边的pojo，定义别名，别名默认为类名（首字母小写或大写） -->
        <package name="edu.cn.pojo"/>
    </typeAliases>

    <!--打印sql语句-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

</configuration>
