<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--被代理对象-->
    <bean id="customDao" class="advisor.CustomDaoImpl"></bean>
    <bean id="orderDao" class="pointcut_advisor.OrderDao"></bean>

    <!--增强-->
    <bean id="myadvisor" class="advisor.MyMehodBeforeAdvice"></bean>
    <bean id="methodinterceptor" class="pointcut_advisor.MyMethodInterceptor"></bean>

    <!--切面-->
    <bean id="myadvisors" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!--切点拦截信息-->
        <property name="patterns"  value="pointcut_advisor\.OrderDao\.add.*"></property>
        <!--增强-->
        <property name="advice" value="methodinterceptor"></property>
    </bean>

    <!--第二种 基于切面信息自动代理-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>


</beans>