<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--被代理对象-->
    <bean id="customDao" class="advisor.CustomDaoImpl"></bean>
    <bean id="orderDao" class="pointcut_advisor.OrderDao"></bean>

    <!--增强-->
    <bean id="myadvisor" class="advisor.MyMehodBeforeAdvice"></bean>
    <bean id="methodinterceptor" class="pointcut_advisor.MyMethodInterceptor"></bean>

    <!--第一种beanname自动代理-->
    <!--后处理bean 不需要配置id-->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <!--对所有DAO结尾的Bean进行代理-->
        <property name="beanNames" value="*Dao"></property>
        <!--增强-->
        <property name="interceptorNames" value="methodinterceptor"></property>
    </bean>
</beans>